<div>
    <section class="firstSection text-center py-5">
        <div class="container">

            <!-- <div class="overlay-image text-center">
                <img src="https://www.logohouse.org/images/Website%20Design%20by%20Logo%20House%20Banner.png" alt="Overlay Image" class="img-fluid">
            </div> -->
            <div class="firstSection-content">
                <h1 class="display-4 text-center">Welcome to Our Website</h1>
                <p class="lead">We are specialised in eCommerce Development & Digital Marketing, our approach is simple
                    and it works; we prefer to work with startups mainly, the reason is we tend to build a long-term
                    partnership from the beginning, nonetheless, we do work with companies from Small to Medium.</p>
            </div>
        </div>
    </section>

    <section class="Projects pt-5">
        <div class="container">
            <div class="row text-center mb-4">
                <div class="col">
                    <h2>
                        <a href="https://www.linkedin.com/company/aqeltech/" target="_blank"><span
                                class="project-tilte">AQELTECH</span></a> <span class="Project"> Project
                            Management</span>
                    </h2>

                </div>
            </div>

            <div class="row text-center mt-5">
                <div class="col-md-3 mb-3">
                    <img src="../../../assets/images/Vector1.png" alt="Feature 2" class="img-fluid">
                    <h4 class="project-des">Planning</h4>
                </div>

                <div class="col-md-3 mb-3">
                    <img src="../../../assets/images/Vector2.png" alt="Feature 3" class="img-fluid">
                    <h4 class="project-des">Design & Develop</h4>
                </div>
                <div class="col-md-3 mb-3">
                    <img src="../../../assets/images/icon.png" alt="Feature 1" class="img-fluid">
                    <h4 class="project-des">Deliver</h4>
                </div>

                <div class="col-md-3 mb-3">
                    <img src="../../../assets/images/Vector.png" alt="Feature 3" class="img-fluid">
                    <h4 class="project-des">Contact</h4>
                </div>

            </div>
        </div>
    </section>
    <section class="features pt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 text-center">
                    <img src="../../../assets/images/develpment-service.jpg" alt="eCommerce" class="img-fluid">
                </div>
                <div class="col-md-6 mb-4">
                    <h2 class="features-tilte">Create Customized eCommerce Entity With Magento Development Services</h2>
                    <p class="features-des mt-3">
                        Magento is a leading eCommerce platform, best known for its niche to build an innovative,
                        scalable, versatile online shopping platform.
                        It is a perfect open-source platform for enterprises to build a profit-generating eCommerce
                        platform and meet the requirements of target customers.

                    </p>
                    <p class="features-des">
                        Here, we offer you end-to-end Magento eCommerce development services to maintain a low-cost
                        platform that guarantees quality, future updates, and low maintenance costs.
                    </p>
                    <p class="features-des">
                        As a reputed Magento development company, and with the help of our expert developers and head
                        extension developers, we give Magento Development benefits that ensure assorted functionality
                        and a smooth client experience.
                        Fabricate your eCommerce store and ensure your business’s growth.</p>
                </div>

            </div>
        </div>
    </section>
    <section class="features pt-5">
        <app-services></app-services>
    </section>
    <section class="features pt-5">
        <app-solutions></app-solutions>
    </section>
    <section class="features pt-5 ">
        <app-e-commerce></app-e-commerce>
    </section>
    <section class="Projects px-3 ">
        <div class="row text-center pt-4">
            <div class="col-12 col-md-8">
                <h2><span class="Project ecommerce">Want to unleash the unlimited potential of
                        <a href="https://account.magento.com/customer/account/login" target="_blank"><span
                                class="ecommerce-title"> Magento </span> </a> for your business?</span></h2>

            </div>
            <div class="col-12 col-md-3">
                <button class="btn btn-primary" > Talk To US</button>
            </div>
        </div>
    </section>
    <section class="features pt-5">
        <app-partners></app-partners>
    </section>
    <section class="features pt-5">
        <app-slider></app-slider>
    </section>
</div>