<section class=" py-5">
    <h4  class="section-title">Our Magento Development Solutions</h4>
    <p  class="section-title my-3">We bring your eCommerce idea to reality with our end-to-end Magento eCommerce development solutions.</p>

<div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let solution of solutions">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ solution.title }}</h5>
            <p class="card-text">{{ solution.description }}</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>