.nav-link,
.personal-contact a {
    margin: 10px;

}

.navbar-brand img {
    margin-inline-start: 50px;
}


.nav-link,
.personal-contact a {
    color: rgba(1, 9, 32, 1) !important;
    font-size: 14px;
    font-weight: 500 !important;
    text-align: center;
    color: rgba(1, 9, 32, 1) !important;
    line-height: 16.09px;
}
.nav-link:hover,
.nav-item a:hover {
    color: rgba(0, 162, 234, 1) !important
}

.contact {
    margin-inline-start: 60px;
}
.dropdown-menu {
    margin-block-start: -5px;
}

@media only screen and (min-width: 1250px) {

    .navbar-nav {
        margin-inline-start: 10em;
    }
}



@media only screen and (max-width: 1350px) {
    .nav-link,
    .personal-contact a {
        text-align: start;
        margin-top: 20px;
    }
}