<nav class="navbar navbar-expand-xl navbar-light bg-light ">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo.png" width="187px" height="50px" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav   mt-2 ">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu " aria-labelledby="servicesDropdown">
                    <a class="dropdown-item" href="#">Services1</a>
                    <a class="dropdown-item" href="#">Services2</a>
                    <a class="dropdown-item" href="#">Services3</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Services4</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="SolutionsDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Solutions</a>
                <div class="dropdown-menu " aria-labelledby="SolutionsDropdown">
                    <a class="dropdown-item" href="#">Solutions1</a>
                    <a class="dropdown-item" href="#">Solutions2</a>
                    <a class="dropdown-item" href="#">Solutions3</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Solutions4</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hire Magento Developer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Magento 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Career</a>
            </li>
            <li class="nav-item m-auto personal-contact ">
                <a href="https://api.whatsapp.com/send/?phone=962796595630" target="_blank"><i
                        class="fa fa-phone-volume contact  "></i></a>
                <a href="mailto:rahmehalomari577@gmail.com 
               " target="_blank"><i class="fa-regular fa-envelope mx-2 "></i></a>
            </li>
        </ul>
    </div>
</nav>