

.btn {
    border-radius: 21px !important;
    width: 153px !important;

}

.card-title {
    font-size: 1.5rem;
    text-align: center;
    
}

.project-tilte{
    color: rgba(0, 162, 234, 1);
  }
  .Projects {
    background-color: black; 
  }
  
  @media only screen and (min-width: 1050px) {

    .card {
        height: 90%;
    }
}
