<footer class="Projects text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <p class="text-center">
              We are specialised in eCommerce Development & Digital Marketing, our approach is simple and it works; we prefer to work with startups mainly, the reason is we tend to build a long-term partnership from the beginning, nonetheless, we do work with companies from Small to Medium.
            </p>
          </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p class="mb-0">&copy; 2024 Company 
            <a href="https://www.linkedin.com/company/aqeltech/" target="_blank"><span class="project-tilte">AQELTech.</span></a>  All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  